.AllocationTable-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*display flex*/
  list-style-type: none;
}

.AllocationTable-container {
}
.AllocationTable-container tr {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  /*display flex*/
}
.AllocationTable-container tr th {
  width: 243px;
  text-align: center;
}
.AllocationTable-container tr td {
  width: 243px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
}
.AllocationTable-container tr td button {
  width: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  cursor: pointer;
  font-size: 20px;
  color: white;
  padding: 5px;
  border: 1px solid white;
}
.AllocationTable-table-increaseAllocation-btn {
  background-color: rgb(4, 163, 4);
}
.AllocationTable-table-decreaseAllocation-btn {
  background-color: red;
}
.AllocationTable-table-removeAllocation-btn {
  background-color: black;
}
