.LabeledSelectMenu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  /*display flex*/
  /* background-color: red; */
}
.LabeledSelectMenu-container select {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-transform: capitalize;
}
.LabeledSelectMenu-container label {
  background-color: #c5c6c7;
  padding: 9px;
  border-radius: 5px;
  text-transform: capitalize;
}
